<!-- me -->
<section class="bg-light page-section" id="{{ site.data.sitetext.me.section | default: "me" }}">
<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">{{ site.data.sitetext.me.title }}</h2>
	  <h3 class="section-subheading text-muted">{{ site.data.sitetext.me.text }}</h3>
	</div>
  </div>
  {% for person in site.data.sitetext.me.people %}
  <img style="float: left; margin: 0px 100px 100x 0px;" src="{{ person.image }}" width="100" />
  <div class="large text-muted">{{ site.data.sitetext.me.subtext | markdownify }}</div>
  <div class="container">
   <img class="container_image" class="mx-auto rounded-circle" src="{{ person.image }}">
   <h4>{{ person.name }}</h4>
	 <p class="text-left">{{ person.affil1 }} <br> {{ person.affil2 }} <br> {{ person.affil3 }} <br> {{ person.affil4 }} <br> {{ person.affil5 }}</p>
   <ul class="list-inline social-buttons">
	  {% for network in person.social %}
		<li class="list-inline-item">
		 <a href="{{ network.url }}">
		  <i class="{{ network.icon }}"></i>
		 </a>
	     </li>
	{% endfor %}
	</ul>
    <div class="container_text">
      <p>"Cats like boxes because they are cryptic animals; they like to hide," Stephen Zawistowski, science adviser for the American Society for the Prevention of Cruelty to Animals, told Business Insider. "And a box gives them a place of safety and security."</p>
      <p>While inside a box, cats feel that they cannot be snuck up on from behind or the side — anything that wants to approach them must come directly into their field of vision. In effect, such hiding spaces allow them to watch the world around them without being seen.</p>
    </div>
  </div>
<!--	<div class="team-member">
	  <img class="w3-round" src="{{ person.image }}" alt="" height="500" width="200">
	  <h4>{{ person.name }}</h4>
		<p class="text-left">{{ person.affil1 }} <br> {{ person.affil2 }} <br> {{ person.affil3 }} <br> {{ person.affil4 }} <br> {{ person.affil5 }}</p>
	  <ul class="list-inline social-buttons">
	  {% for network in person.social %}
		<li class="list-inline-item">
		  <a href="{{ network.url }}">
			<i class="{{ network.icon }}"></i>
		  </a>
		 </li>
	  {% endfor %}
	  </ul>
	</div> -->
  {% endfor %}
  <div class="row">
	<div class="col-lg-8 mx-auto text-center">
	  <div class="large text-muted">{{ site.data.sitetext.me.subtext | markdownify }}</div>
	</div>
  </div>
</div>
</section>
<!-- End me -->