<!-- About -->
  <section class="page-section" id="{{ site.data.sitetext.timeline.section | default: "about" }}">
    <div class="container">
	
	  <div class="row">
	<div class="col-lg-12 text-center">
	  <h3 class="section-heading text-uppercase">{{ site.data.sitetext.timeline.title }}</h3>
	  <h3 class="section-subheading text-muted">{{ site.data.sitetext.timeline.text }}</h3>
	</div>
  </div>

  {% for person in site.data.sitetext.timeline.people %}
  <div class="container">
    <img class="container__image" src="{{ person.image }}" width="300">
    <h4>{{ person.name }}</h4>
	  <p class="text-left text-muted">{{ person.affil1 }} <br> {{ person.affil2 }} <br> {{ person.affil3 }} <br> {{ person.affil4 }} <br> {{ person.affil5 }}</p>
      <div class="container__text">
	  <div class="large">{{ person.bio | markdownify }}</div>
	  </div>

	  {% for network in person.social %}
	    <form action="{{ network.url }}">
         <input type="submit" value="{{ network.desc }}" />
        </form>

	  {% endfor %}

	 <div class="container__text">
	   <h4>{{ person.interest | markdownify }}</h4>
	   <div class="large text-muted">{{ person.subtext | markdownify }}</div>
	   <h4>{{ person.edu | markdownify }}</h4>
	 </div>
  </div>
  {% endfor %}
  <div class="row">
	<div class="col-lg-8 mx-auto text-center">
      <h4>{{ site.data.sitetext.timeline.interest | markdownify }}</h4>
	  <div class="large text-muted">{{ site.data.sitetext.timeline.subtext | markdownify }}</div>
	</div>
  </div>

      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
      {%- assign align = site.data.sitetext.timeline.start_align -%}
      {%- for event in site.data.sitetext.timeline.events -%}
            {%- if align == "right" -%}
              {%- if event.align and event.align == "left" -%}
                {%- assign align = "right" -%}
                <li>
              {%- else -%}
                {%- assign align = "left" %}
                <li class="timeline-inverted">
              {% endif %}
            {% else %}
              {%- if event.align and event.align == "right" -%}
                {%- assign align = "left" -%}
                <li class="timeline-inverted">
              {%- else -%}
                {%- assign align = "right" %}
                <li>
              {% endif %}
            {%- endif -%}
              <div class="timeline-image">
                <img class="rounded" src="{{ event.image }}" alt="{{ event.alt | default: ""}}">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h5>{{ event.year | markdownify }}</h5>
                  <h5 class="subheading">{{ event.title }}</h5>
                </div>
                <div class="timeline-body">
                  <div class="text-muted">{{ event.desc | markdownify }}</div>
                </div>
              </div>
            </li>
		  {% endfor %}	
            
		  {% if site.data.sitetext.timeline.end %}	
			<li class="timeline-inverted">
              <div class="timeline-image">
                <h4>{{ site.data.sitetext.timeline.end }}</h4>
              </div>
            </li>
		  {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </section>
<!-- End About -->
